@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
</head>
<body>
    <header>
        <style>
            .div-1 {
                background-color: lightgreen;
            }

            .container {
                width: 100%;
            }

            .column1 {
                float: left;
                width: 50%;
            }

            .column2 {
                float: left;
                width: 50%;
            }
            

        </style>

        <div class="div-1">
            <div class="image">
                <img src="/images/icon.jpg">
            </div>
            <h2><b>Emir Yetimoğlu</b></h2>
            <h4>Software Developer</h4>
            <p>During my initial years in the industry, I maintained a strong interestin continuous learning while pursuing my education, enabling meto keep pace with the ever-evolving software world. With a knackfor teamwork, practical problem-solving skills, and the ability tothink critically, I am confident in my ability to be a valuable teamplayer as well as take on leadership responsibilities. I have quicklyacquired proficiency in C#, PHP, HTML, and SQL languages, and Iam also interested in data. To further enhance my skills, gainpractical experience, and expand my professional network, I amseeking new work or internship opportunities. My ultimate goal isto work as a Software Developer in the later stages of my career.</p>
        </div>
    </header>
    <div class="container">
        <div class="column1">
            <h4>Skills</h4>
            <div><b>Retail Management</b></div>
            <progress id="prg1" value="40" max="100"> 32% </progress>
            <div><b>Sales Optimization</b></div>
            <progress id="prg2" value="70" max="100"> 70% </progress>
            <div><b>Inventory Control</b></div>
            <progress id="prg3" value="60" max="100"> 60% </progress>
            <div><b>Team Leadership</b></div>
            <progress id="prg4" value="80" max="100"> 80% </progress>
            <h4>Languages</h4>
            <div><b>Turkish</b></div>
            <progress id="prg5" value="100" max="100"> 100% </progress>
            <div><b>English</b></div>
            <progress id="prg6" value="70" max="100"> 70% </progress>
            <h4>Hobbies</h4>
            <div><b>Books</b></div>
            <div><b>Video Games</b></div>
        </div>
        <div class="column2">
            <h1>Professional Experience</h1>
            <h4>Store Manager</h4>
            <h6>XYZ Retail-City,State | 20XX-20XX</h6>
            <ul>
                <li>Successfully increased store sales by 20% through the implementation of targeted promotional campaigns</li>
                <li>Implemented a customer loyalty program, resulting in a 25% increase in repeat business and improved customer satisfaction.</li>
            </ul>
            <h4>Sales Supervisor</h4>
            <h6>QRS Apparel-City,State | 20XX-20XX</h6>
            <ul>
                <li>Achieved and exceed monthly sales targets, earning recognition as the top performing sales supervisor.</li>
                <li>Conducted regular product knowledge training sessions for the sales team, enchancing customer engagement</li>
            </ul>

            <h1>Education</h1>
            <h4>BA in Business Administration</h4>
            <h6>XYZ university - City, State | 20XX-20XX</h6>
            <p>Specialized coursework in retail leadership, merchandising strategies, and customer experience management</p>
           
            <h4>Master of Business Administration</h4>
            <h6>Business School of Excellence - City, State | 20XX-20XX</h6>
            <p>Explored advanced strategies for organizational success, including competitive analysis, and strategic planning.</p>

        </div>
    </div>




</body>